requests
pandas
notebook
ipykernel
matplotlib
fastapi
pydantic
wikipedia-api
torch
uvicorn
transformers
langchain
langchain-experimental
openai
langchain_openai
sqlalchemy
PyPI
pymysql
mysql-connector-python
